.cal-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}
.cal-container {
    height: auto;
    width: 300px;
    border: 5px solid #ffe4f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cal-output {
    height: 210px;
    background-color: #f0ffff;
    text-align: right;
    font-size: 30px;
    overflow: auto;
}
.cal-input {
    /* background-color: darkkhaki; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.cal-input li {
    display: inline;
    width: 100%;
}
.cal-input button{
    overflow: hidden;
    border: none;
    padding: 6%;
    width: 21%;
    font-size: 22px;
    font-weight: lighter;
    font-family: 'Roboto';
    margin: 6px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cal-result-btn {
    background-color: #00fa9a;
}
.cal-result-btn:hover {
    background-color: tomato;
}
.cal-temp-output {
    width: auto;
    background-color: #f0ffff;
    text-align: right;
    font-size: 24px;
    overflow: auto;
}
.cal-operators {
    background-color: darkcyan;
    color: #ffffff;
}
.cal-operators:hover {
    background-color: lightcoral;
}
.toggle-dark button{
    margin: 10px;
    padding:5px;
    overflow: hidden;
    border: none;
    font-family: 'Roboto';
    border-radius: 50px;
    background-color: darkcyan;
    font-weight: lighter;
}
.toggle-dark button:hover{
    background-color: #000000;
    color: #f0ffff;
}